
.head{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}
.a{
	position: relative;
	background-color: white;
	padding: 10px;
	width: 200px;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 0 0.5rem lightgray;
	border: 1px solid white;
	font-size: 16px;
	overflow: hidden;
	text-align: center;
	margin: 5px;
}
.a:hover{
	background-color: white;
	box-shadow: 0 0 0.5rem lawngreen;
	outline: none;
}
a:visited{
	color: red;
}
header{
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	overflow: break;

	animation-name: pico;
	animation-duration: 3s;
}
aside{
	overflow: hidden;
	border-radius: 5px;
	overflow: break;
	text-align: center;
	margin-bottom: 20px;
	background-color: white;
	padding: 5px;

	display: flex;
	justify-content: space-between;
	
}
main{
	background: white;
	border-radius: 10px;
}
#mouth{
	border-radius: 5px;
	animation-name: pic;
	animation-duration: 5s;
}
footer{
	background: white;
	margin-top:30px;
	border-radius: 5px;
	padding: 2px;
}
h2,h1{
	color: greenyellow;
	text-shadow: 1px 2px yellow;
}
td,th{
	padding: 10px;
	border: 2px solid green;
}
@keyframes pic{
	0%{color: transparent;}
	100%{color: black;}
}
@keyframes pico{
	0%{color: transparent;}
	100%{color: black;}
}
#tall{
	display: flex;
}